# Secret stuff
.env
credentials/service_account.json
credentials/dummy_service_account.json
credentials/unleashed.json
.secrets/

# Python prod Virtual Environment
venv/
lib/
lib64/
bin/

# Python Bytecode and Cache Files
__pycache__/
*.pyc
*.pyo
.idea/

# Deployment Scripts (if applicable)
run.bat
ownership_change.sh

# Other
uploads/
buz_data.db
buz_data.db.backup

# Ignore everything in instance (runtime data)
instance/
