{% extends "layout.html" %}

{% block title %}Home - Buz Application{% endblock %}

{% block content %}

    <h1>Delete Buz items not in Unleashed</h1>
    
    {% if output_file %}
        <a href="{{ url_for('main_routes.download_file', filename=output_file.split('/')[-1]) }}">Download Excel Report</a>

	{% else %}
        <form action="{{ url_for('main_routes.get_items_not_in_unleashed') }}" method="POST">
            <button type="submit" class="btn btn-primary">Find items to delete</button>
        </form>

    {% endif %}
	
{% endblock %}
